body{
    background-color: gainsboro;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#title,#description{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    border: 5px solid gold;
    padding: 1%
}
div{
    
    border-radius: 50px;
    background-color: #f2f2f2;
    padding: 1px;
}
#NEN,#Sel,#group,#comment,#checkbox,#button
{
    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid plum;
    padding: 5%
    
}
